xsd/DLV_DL5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="S5Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DodaciListVydanyList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DodaciListVydany" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Group" type="group" minOccurs="0" />
                    <xs:element name="CisloDokladu" type="emptiable_string_15" />
                    <xs:element name="Odkaz" type="emptiable_string_20" />
                    <xs:element name="PocetPolozek" type="emptiable_integer" />
                    <xs:element name="Adresa">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Firma" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Group" type="group" minOccurs="0" />
                                <xs:element name="ICO" type="emptiable_string_20" />
                              </xs:sequence>
                              <xs:attribute name="ObjectName" fixed="Firma" use="required" />
                              <xs:attribute name="ObjectType" fixed="Object" use="required" />
                              <xs:attribute name="ID" type="guid" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MojeFirma">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IC" type="emptiable_string_20" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Suma">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Celkem" type="emptiable_decimal_2" />
                          <xs:element name="Zaklad" type="emptiable_decimal_2" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DetailniRozpisDPH" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DetailniRozpisDPH" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SumaCelkem" type="emptiable_decimal_2" />
                                <xs:element name="SumaDPH" type="emptiable_decimal_2" />
                                <xs:element name="SumaZaklad" type="emptiable_decimal_2" />
                                <xs:element name="SazbaDPH" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Sazba" type="emptiable_decimal_2" />
                                    </xs:sequence>
                                    <xs:attribute name="ObjectName" fixed="SazbaDPH" use="required" />
                                    <xs:attribute name="ObjectType" fixed="Object" use="required" />
                                    <xs:attribute name="ID" type="guid" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ObjectName" fixed="DetailniRozpisDPH" use="required" />
                              <xs:attribute name="ObjectType" fixed="Object" use="required" />
                              <xs:attribute name="ID" type="guid" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="DetailniRozpisDPH" use="required" />
                        <xs:attribute name="ObjectType" fixed="List" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Polozky" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PolozkaDodacihoListuVydaneho" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CelkovaCena" type="emptiable_decimal_2" />
                                <xs:element name="JednCena" type="emptiable_decimal_4" />
                                <xs:element name="Mnozstvi" type="emptiable_decimal_4" />
                                <xs:element name="DPH">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Celkem" type="emptiable_decimal_2" />
                                      <xs:element name="Dan" type="emptiable_decimal_2" />
                                      <xs:element name="Sazba" type="emptiable_decimal_2" />
                                      <xs:element name="Zaklad" type="emptiable_decimal_2" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ObsahPolozky" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Artikl" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Group" type="group" minOccurs="0" />
                                            <xs:element name="Kod" type="emptiable_string_60" />
                                            <xs:element name="Nazev" type="emptiable_string_100" />
                                          </xs:sequence>
                                          <xs:attribute name="ObjectName" fixed="Artikl" use="required" />
                                          <xs:attribute name="ObjectType" fixed="Object" use="required" />
                                          <xs:attribute name="ID" type="guid" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ObjectName" fixed="ObsahPolozkySArtiklem" use="required" />
                                    <xs:attribute name="ObjectType" fixed="Object" use="required" />
                                    <xs:attribute name="ID" type="guid" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ObjectName" fixed="PolozkaDodacihoListuVydaneho" use="required" />
                              <xs:attribute name="ObjectType" fixed="Object" use="required" />
                              <xs:attribute name="ID" type="guid" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="PolozkaDodacihoListuVydaneho" use="required" />
                        <xs:attribute name="ObjectType" fixed="List" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ObjectName" fixed="DodaciListVydany" use="required" />
                  <xs:attribute name="ObjectType" fixed="Object" use="required" />
                  <xs:attribute name="ID" type="guid" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="decimal_2">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimal_4">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="emptiable_decimal_2">
    <xs:union memberTypes="decimal_2 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_decimal_4">
    <xs:union memberTypes="decimal_4 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_integer">
    <xs:union memberTypes="xs:integer empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_100">
    <xs:union memberTypes="string_100 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_15">
    <xs:union memberTypes="string_15 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_20">
    <xs:union memberTypes="string_20 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_60">
    <xs:union memberTypes="string_60 empty" />
  </xs:simpleType>
  <xs:simpleType name="empty">
    <xs:restriction base="xs:string">
      <xs:maxLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="group">
    <xs:attribute name="ID" type="guid" use="required" />
    <xs:attribute name="Kod" type="string_20" />
  </xs:complexType>
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}(-[a-f0-9]{4}){3}-[a-f0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_100">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_15">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_60">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>